USE [master]
GO
/****** Object:  Database [erp]    Script Date: 8/26/2026 4:15:13 PM ******/
CREATE DATABASE [erp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'erp', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\erp.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'erp_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\erp_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [erp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [erp]
GO
/****** Object:  Schema [bacameter]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE SCHEMA [bacameter]
GO
/****** Object:  Table [bacameter].[cater_alasan]    Script Date: 8/26/2026 4:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bacameter].[cater_alasan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](35) NULL,
	[kode] [char](3) NULL,
	[tipe] [varchar](10) NULL,
	[status] [int] NULL,
	[pm] [bit] NOT NULL,
 CONSTRAINT [PK__cater_al__3213E83F554F28AB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bacameter].[datameter]    Script Date: 8/26/2026 4:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bacameter].[datameter](
	[id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[kode_pelanggan] [varchar](20) NULL,
	[nomor_pelanggan] [varchar](20) NULL,
	[nama] [varchar](100) NULL,
	[alamat] [varchar](255) NULL,
	[stand_awal] [int] NULL,
	[stand_akhir] [int] NULL,
	[pakai] [int] NULL,
	[stand_catatpetugas] [int] NULL,
	[stand_koreksi] [int] NULL,
	[stand_angkat] [int] NULL,
	[stand_taksir] [int] NULL,
	[harga_air] [float] NULL,
	[biaya_admin] [float] NULL,
	[biaya_pemeliharaan] [float] NULL,
	[biaya_lainnya] [float] NULL,
	[biaya_materai] [float] NULL,
	[status_baca] [int] NULL,
	[id_petugas] [int] NULL,
	[keterangan_catat] [varchar](255) NULL,
	[id_anomali] [int] NULL,
	[tanggal_catat] [date] NULL,
	[waktu_catat] [varchar](20) NULL,
	[tanggal_upload] [date] NULL,
	[waktu_upload] [varchar](20) NULL,
	[lat_long] [varchar](50) NULL,
	[bulan] [int] NULL,
	[tahun] [int] NULL,
	[periode] [int] NULL,
	[status_koreksi] [int] NULL,
	[tanggal_koreksi] [date] NULL,
	[user_koreksi] [varchar](100) NULL,
	[status_manual] [int] NULL,
	[user_manual] [varchar](100) NULL,
	[status_bacaulang] [int] NULL,
	[status_verifikasi1] [int] NULL,
	[user_verifikasi1] [varchar](100) NULL,
	[dt_verifikasi1] [date] NULL,
	[status_verifikasi2] [int] NULL,
	[user_verifikasi2] [varchar](100) NULL,
	[dt_verifikasi2] [date] NULL,
	[status_posting] [int] NULL,
	[office_id] [int] NULL,
	[regional_id] [int] NULL,
	[block_id] [int] NULL,
	[id_tarif] [int] NULL,
	[id_watermetersize] [int] NULL,
	[watermeter_name] [varchar](50) NULL,
	[nomor_meter] [varchar](50) NULL,
	[id_sk] [int] NULL,
	[jenis_pelanggan] [varchar](10) NULL,
	[status_download] [varchar](10) NULL,
	[periode1] [int] NULL,
	[stand_awal1] [int] NULL,
	[stand_akhir1] [int] NULL,
	[pakai1] [int] NULL,
	[harga_air1] [float] NULL,
	[periode2] [int] NULL,
	[stand_awal2] [int] NULL,
	[stand_akhir2] [int] NULL,
	[pakai2] [int] NULL,
	[harga_air2] [float] NULL,
	[periode3] [int] NULL,
	[stand_awal3] [int] NULL,
	[stand_akhir3] [int] NULL,
	[pakai3] [int] NULL,
	[harga_air3] [float] NULL,
	[param_1] [varchar](100) NULL,
	[param_2] [varchar](100) NULL,
	[catatan_petugas] [varchar](255) NULL,
	[param_3] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[no_hp] [varchar](20) NULL,
	[waktu_baca_urutan] [int] NULL,
	[stts_pel] [int] NULL,
	[stand_data] [int] NULL,
	[status_catat] [int] NULL,
	[status_pelanggan] [int] NULL,
	[id_anomali1] [int] NULL,
	[id_anomali2] [int] NULL,
	[id_anomali3] [int] NULL,
	[id_kelurahan] [int] NULL,
	[spam_id] [int] NULL,
	[zona_id] [int] NULL,
	[stand_awal_ang] [int] NULL,
	[stand_akhir_ang] [int] NULL,
	[pakai_ang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bacameter].[petugas]    Script Date: 8/26/2026 4:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bacameter].[petugas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[nama] [varchar](25) NULL,
	[password] [varchar](30) NULL,
	[office_id] [int] NULL,
	[no_telp] [varchar](255) NULL,
	[alamat] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[petugas_os] [int] NULL,
	[zona_id] [int] NULL,
 CONSTRAINT [PK__petugas__3213E83F0FAB8B72] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 8/26/2026 4:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[nama] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
	[is_active] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_cater_alasan]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_cater_alasan] ON [bacameter].[cater_alasan]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_datameter_id_anomali]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_id_anomali] ON [bacameter].[datameter]
(
	[id_anomali] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_datameter_id_petugas]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_id_petugas] ON [bacameter].[datameter]
(
	[id_petugas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_datameter_nomor_meter]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_nomor_meter] ON [bacameter].[datameter]
(
	[nomor_meter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_datameter_nomor_pelanggan]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_nomor_pelanggan] ON [bacameter].[datameter]
(
	[nomor_pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_datameter_pakai]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_pakai] ON [bacameter].[datameter]
(
	[pakai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_datameter_periode]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_periode] ON [bacameter].[datameter]
(
	[periode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_datameter_tanggal_catat]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_datameter_tanggal_catat] ON [bacameter].[datameter]
(
	[tanggal_catat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_petugas]    Script Date: 8/26/2026 4:15:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_petugas] ON [bacameter].[petugas]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [bacameter].[cater_alasan] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [bacameter].[cater_alasan] ADD  DEFAULT ((0)) FOR [pm]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = aktif, 0 = nonaktif' , @level0type=N'SCHEMA',@level0name=N'bacameter', @level1type=N'TABLE',@level1name=N'cater_alasan', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: petugas_pdam 1: OS' , @level0type=N'SCHEMA',@level0name=N'bacameter', @level1type=N'TABLE',@level1name=N'petugas', @level2type=N'COLUMN',@level2name=N'petugas_os'
GO
USE [master]
GO
